#header{
    position: fixed;
    top:0;
    height:75px;
    margin-left: -0.8%;
    width: 100%;
    background-color: #e7c03d48
}
#header ul li{
    padding-top: 8px;
    list-style: none;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif
}
#header a{
    text-decoration: none
}
body{
    position: relative;
    margin-top:80px;
    background-color: #fffc5e00;
   
}
#eventdata{
    width:70%;
    height:auto;
    background-color: rgba(203, 240, 240, 0.445);
   margin: 5% 10% 5% 12%;
   padding-left:15px;
    line-height:1.6;
    border: 1px solid rgb(47, 32, 32);
    box-shadow: 1.5px 1.5px rgb(82, 61, 22);
}
#day_name{
    font-size: 30px;
    color: #15111ff6;
}
#date-name{
    font-size:30px;
    color: #4e4c47;
}
h3{
    font-size:20px;
}
#map-page{
    margin-left:20%;
    border:1px solid #4e4c47;
    border-radius: 2px;
    box-shadow:1px 1.5px rgb(44, 32, 32);
    width:600px;
    height: 250px;
}
#map{
    height: 100%;
}
@media (max-width: 540vw){
    #map-page{
        margin:10px;
        width: auto;
    }
}
#eventdetails{
    margin:15px 10px 15px 15px;
    padding:5px 0px;
    font-size:20px;
}